.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.form_btn {
  width: 100%;
}

.answer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--t-white);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
}

.close {
  position: absolute;
  right: 30px;
  top: 30px;
}

.message_block {
  color: var(--c-black);
  text-align: center;
}

.message_desc {
  color: var(--c-black) !important;
  margin-top: 16px;
}

.close {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close:hover path {
  fill: var(--c-accent-orange);
}

.close:focus {
  border: 1px solid var(--c-accent-orange);
}

.close:active path {
  fill: #FCC521;
}

.sended input:invalid, .sended textarea:invalid {
  color: #ED413D;
  border-color: #ED413D;
  background-color: rgba(237, 65, 61, 0.1);
}
