.cards {
	background: var(--bg-white);
	width: 345px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.title, .specialty, .description {
	text-align: center;
}

.img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.title {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.specialty {
	color: red;
	font-weight: 600;
	padding-left: 15px;
	padding-right: 15px;
}

.description {
	font-size: 15px;
	padding: 15px 15px 23px 15px;
}