.card {
  padding: 16px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  color: var(--t-dark);
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .card {
    padding: 24px;
  }
}

.white {
  background-color: var(--bg-white);
}

.white .description {
  color: var(--t-dark);
}

.transparent {
  background-color: transparent;
  border: 1px solid var(--c-gray);
}

.gray {
  background-color: var(--bg-gray);
}

.description {
  margin-top: 50px;
  color: var(--t-dark);
}

.counter {
  font-weight: 500;
  color: var(--t-dark);
}

.card_image {
  margin-bottom: 30px;
}

.min .card_image {
  margin-bottom: 1.5rem;
}

.min .description {
  margin-top: 1.7rem;
}

.slider {
  min-width: 100%;
}

.slider .title {
  word-wrap: nowrap;
}

@media (min-width: 768px) {
  .slider {
    min-width: calc(50% - 10px);
  }
}


.tab {
  border-color: rgba(white, .6);
}

.tab h4 {
  color: var(--bg-white);
}

.tab .description {
  color: var(rgba(white, .6)) !important;
}

.links {
  padding-top: 30px;
  margin-top: auto;
}

.links a {
  color: var(--c-accent-blue);
}
.links a:visited {
  color: var(--c-accent-blue);
}