.header {
	display: flex;
	justify-content: space-between;
}

.header_wrapper {
	background-color: var(--bg-dark);
	padding: 17px;
	width: 100%;
	position: fixed;
	z-index: 5;
}

.logo {
	display: flex;
	gap: 20px;
	align-items: center;
}

.name {
	color: var(--t-white);
}

.nav {
	display: flex;
	align-items: center;
}

.nav a {
	cursor: pointer;
}

.masters, .service, .personal {
	color: var(--t-white);
	margin-left: 25px;
}